################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reefi/.vs/Reefi/v16/.suo
/Reefi/.vs/Reefi/v16
/Reefi/.vs/Reefi/config/applicationhost.config
/Reefi/.vs/Reefi/config
/Reefi/.vs/Reefi
/Reefi
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Reefi-UI/v16/.suo
/.vs/Reefi-UI/v16
/.vs/ProjectSettings.json
/.vs
